# Database
market_data.db

# Logs
pipeline.log
*.log

# Virtual environment
.venv/
venv/

# Python compiled files
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

# Environment variables
.env

#Node Modules
node_modules

#Random query
sqlite_query.py